<header class="header__wrapper">
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile class="header__logo">
                    <h1>MyApp</h1>
            </mat-grid-tile>
            <mat-grid-tile class="header__nav">
                <nav>
                    <a routerLinkActive="active" routerLink="pageone">One</a>
                    <a routerLinkActive="active" routerLink="pagetwo">Two</a>
                </nav>
            </mat-grid-tile>
        </mat-grid-list>
</header>