$bodymargin: 0;
$bodypadding: 0;
$defaultFontfamily: 'Roboto';
$layout-breakpoint-large: '1366px';
$layout-breakpoint-medium: '1024px';
$layout-breakpoint-small: '800px';
$layout-breakpoint-extra-small: '500px';
$bgcolors: ("type1": "#979797", "type2": "#3B86FF", "type3": "#8B68EE", "type4": "#EE3541");
