/* You can add global styles to this file, and also import other style files */
@import "assets/scss/mixins";
@import "assets/scss/commonstyles";
@import "assets/scss/header";
@import "assets/scss/ratecard";

body{
    margin: $bodymargin;
    padding: $bodypadding;
    font-family: $defaultFontfamily;
}